ion-content{
    --background:linear-gradient(135deg,rgb(77, 212, 236),rgb(19, 218, 236));
}
ion-card{
    background: white;
    margin-top:45%;
}
ion-label{
    margin-left: 5%;
    margin-top:25%;
    font-size: 22px;
}