<ion-header>
  <ion-toolbar>
    <ion-title class="title">
        <ion-icon name="briefcase"></ion-icon>Empregos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
      <ion-searchbar></ion-searchbar>
      <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Empresa: Sampel</ion-card-title>
            <ion-card-subtitle>Auxiliar Industrial</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Auxialiar Industrial com salário de R$1.500,75 por mês. Setor: Expedição.<br/>
            <ion-icon name="pin"></ion-icon>Localização: Itaquaquecetuba, Bairro: Jardim das Pêras, Rua: Flor de noiva, n°63.
            <ion-button><ion-icon name="checkmark" slot="start"></ion-icon>Tenho interesse</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="card">
            <ion-card-header>
              <ion-card-title>Empresa: Tapeçaria Car</ion-card-title>
              <ion-card-subtitle>Limpeza</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Trabalhar na área de higienização e Tapeçaria com salário de R$1.150,55 por mês.<br/>
              <ion-icon name="pin"></ion-icon>Localização:Tatuapé, Bairro: Campo Belo, Rua: Jardim Alvares, n°97.
              <ion-button><ion-icon name="checkmark" slot="start"></ion-icon>Tenho interesse</ion-button>
            </ion-card-content>
          </ion-card>
          <ion-card class="card">
              <ion-card-header>
                <ion-card-title>Empresa:Jucip</ion-card-title>
                <ion-card-subtitle>Secretáriado</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Trabalhar no Departamento pessoal da empresa com salário de R$1.750,50 por mês.
                Observação: Possuir curso de informatica básica.<br/>
                <ion-icon name="pin"></ion-icon>Localização: Poá, Bairro: Alpes de Poá, Rua: Almeida Campos, n°75.
                <ion-button><ion-icon name="checkmark" slot="start"></ion-icon>Tenho interesse</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-card class="card">
                <ion-card-header>
                  <ion-card-title>Empresa: Arima</ion-card-title>
                  <ion-card-subtitle>Empilhador de empilhadeira</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Trabalhar como Empilhador de empilhadeira, com salário de 1.200,00 por mês.
                  Observação: Possuir experiência.<br/>
                  <ion-icon name="pin"></ion-icon>Localização: Itaquaquecetuba, Bairro: Jardim das Flores ,Rua: Rio das flores, n°240.
                  <ion-button><ion-icon name="checkmark" slot="start"></ion-icon>Tenho interesse</ion-button>
                </ion-card-content>
              </ion-card>
              <img src="../assets/anuncio2.png"/>
  </div>
</ion-content>
