<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon name="person"></ion-icon>Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon name="person"></ion-icon>Informações pessoais
        </ion-item>
        <ion-item>
            <ion-icon name="list-box"></ion-icon> Visualizar Curriculo
        </ion-item>
        <ion-item>
            <ion-icon name="heart"></ion-icon> Empresas Seguidas
        </ion-item>
        <ion-item>
            <ion-icon name="funnel"></ion-icon> Filtro de Pesquisa
        </ion-item>
        <ion-item>
            <ion-icon name="notifications"></ion-icon> Notificações
        </ion-item>
        <ion-item>
            <ion-icon name="contacts"></ion-icon> Amigos
        </ion-item>
        <ion-item>
            <ion-icon name="settings"></ion-icon> Configurações
        </ion-item>
        <ion-item>
            <ion-icon name="information-circle-outline"></ion-icon> Sobre nós
        </ion-item>
        <ion-item>
            <ion-icon name="help"></ion-icon> Ajuda
        </ion-item>
        <ion-item>
            <ion-icon name="logo-facebook"></ion-icon> Facebook Mega Work
        </ion-item>
        <ion-item>
            <ion-icon name="close"></ion-icon> Sair
        </ion-item>
      </ion-list>
      <img src="../assets/anuncio.jpg"/>
</ion-content>
