ion-content{
    --background:linear-gradient(135deg,rgb(77, 212, 236),rgb(19, 218, 236));
}
.titulohome{
    text-align: center;
    color:white;
}
.logo{
    margin-left:34%;
}
.containerMain{
    margin-top: 30%;
}
.fraseslogin{
    color:white;
}